@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
*
* @project    Bioevolve Technology Inc.
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201806-201807
*
*=====================================
* 0. Reset重置
* 1. 通用設定
* 2. 全站結構
* 3. 頁面設定
*       3.1 首頁
*       3.2 頁尾
*       3.3 商品介紹 
* 
* 
* 4. 選單設定
* 5. 按鈕設定
* 6. 載入動畫
* 7. 自訂scrollbar
*=====================================
**/


/*
=====================================
Reset重置
=====================================
*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	font-family: "Noto Sans TC","Microsoft JhengHei","PingFangTC-Regular", Arial, Helvetica, sans-serif;
	font-size: 1em; /* 1em=10px */
	color: #171717}
/*a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: #601986; color: #fff}
::-moz-selection { background: #601986; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*完美置底*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:270px}
.clearfix:after{content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
.clearfix {display: inline-block}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%}
.clearfix {display: block}
/* End hide from IE-mac */

/*
=====================================
全站結構
=====================================
*/
#wrap{ display: block;  width: 100%}
#atindex,
#atpage,
footer,
footer .copyright{
    display:block;
	width:100%;
    min-width: 1240px}
#atindex{
    background: url(../images/bg_header.png) repeat-x}
#atpage{
    background: url(../images/bg_header-page.png) repeat-x}
#box_top,
#box_banner,
#box_banner-page,
#nav_main,
#my-container,
#foot-main{
    display: block;
    width: 1280px;
    margin: 0 auto}
#box_top{
    position: relative;
    height: 140px}
#nav_main{ 
    background: rgb(229, 230, 230);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#my-container{ 
    min-height: 500px;
    clear: both}
#container-top{ 
    display: block;
    width: 97%;
    padding: 50px 1.5% 0}
#container-top h2{ 
    display: block;
    float: left}
#bar-cookie{ 
    display: block;
    float: right; 
    text-align: right}
#bar-cookie a:link{
    font-size: 1.6em;
    line-height: 36px;
    color: #454445;
    text-decoration: none}
#bar-cookie a:visited{
    color: #838183;
    text-decoration: none}
#bar-cookie a:hover{
    color: #f40;
    text-decoration: none}
#bar-cookie i{
    font-size: 1.6em;
    color: #601986;
    padding-right: 8px}
#foot-main{ padding: 20px}

#body-full,
#body-indexleft,
#body-indexright,
#body-content,
#body-aside{ display: block; margin-bottom: 55px }
#body-full,
#body-indexleft,
#body-indexright{ margin-top: 55px}
#body-content{ margin-top: 30px}
#body-aside{ margin-top: 18px}
#body-full{
    width: 96%;
    margin-left: 20px;
    margin-right: 20px}
#body-content{
    width: 920px;
    margin-left: 20px;
    margin-right: 20px}
#body-aside{
    width: 300px;
    margin-left: 20px}
#body-indexleft{
    width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 40px}
#body-indexright{
    width: 400px;
    margin-right: 20px}
.box-left{ float: left}
.box-right{ float: right}

footer{
	height: 270px;
	background: #edebeb;
	margin-top:-270px}
footer .copyright{
    background: #dcdada;
    text-align: center;
    font-size: 1.5em;
    line-height: 3em;
    color: #4a494a}

/*
=====================================
頁面設定
=====================================
*/
/*首頁*/
#box_top h1 a,
#box_topright{
    display: block;
    position: absolute}
#box_top h1 a{
    top: 0;
    left: 0;
    z-index: 99;
    width: 546px;
    height: 177px;
    background: url(../images/logo-site.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#box_topright{
    top: 38px;
    right: 10px;
    width: 345px}
#box_topright h4{
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #601986;
    padding-bottom: 20px}
#box_topright p{
    display: inline;
    font-size: 1.6em;
    padding-right: 8px}
#box_search{
    display: inline-block;
    background: #ececec;
    border: 1px solid #dcddde;
    padding: 8px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px}
#ppsearch{
    display: inline-block;
    border: none;
    background: transparent;
    font-family: 'xingothic-tc','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    vertical-align: middle}
#btn_sent{
    display: inline-block;
    width: 27px;
    height: 27px;
    border: none;
    background: url(../images/btn-search.png) no-repeat;
    /*background-size: contain;*/
    vertical-align: middle}
#btn_sent:hover{ 
    display: inline-block;
    width: 27px;
    height: 27px;
    border: none;
    background: url(../images/btn-search-hover.png) no-repeat;
    /*background-size: contain;*/
    vertical-align: middle;
    cursor: pointer}
#box_banner,
#box_banner-page{
    overflow: hidden;
    margin-bottom: 4px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -o-border-radius: 5px; 
    border-radius: 5px}
#box_banner{ height: 414px}
#box_banner-page{ height: 259px}
#box_banner-page h2{
    display: block;
    float: left;
    width: 290px;
    font-size: 5em;
    font-weight: 500;
    font-weight: bold \9;
    letter-spacing: 1px;
    padding: 50px 0 0 30px}
#box_banner-page img{
    display: block;
    float: right}

#my-container h2{
    font-size: 2.5em;
    font-weight: 500;
    font-weight: bold \9;
    line-height: 30px;
    color: #601986;
    background: url(../images/icon_ppot.png) no-repeat;
    padding: 0 0 15px 53px}
#my-container .index-news{ 
    display: block;
    float: left; 
    width: 250px}
.index-news-list{
    display: table;
    width: 725px;
    margin: 0 40px 50px 55px}
.index-news-list td{ 
    padding: 15px 10px;
    border-bottom: 1px dashed #cbc9c9;
    overflow: hidden}
.news-data{ width: 15%; text-align: center}
.news-data span{
    font-size: 1.3em;
    font-weight: 500;
    color: #454445;
    letter-spacing: 1px;
    padding: 3px 10px;
    border: 2px solid #95eadc;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -o-border-radius: 5px; 
    border-radius: 5px}
.news-title a:link{
    font-size: 1.6em;
    color: #454445;
    text-decoration: none}
.news-title a:visited{
    color: #838183;
    text-decoration: none}
.news-title a:hover{
    color: #f40;
    text-decoration: none}

.index-newest-products{
    display: block;
    width: 725px;
    margin: 0 40px 20px 55px}
.inproduce-item{
    display: block;
    float: left;
    width: 236px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 30px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){margin-right: 0}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 0}
.inproduce-item span{
    display: block;
    width: 236px;
    height: 163px;
    overflow: hidden;
    margin-bottom: 8px}
.inproduce-item img{
    border: 1px solid #e4e3e4;
    height: 161px;
    width: auto;
    margin: 0 auto}
.inproduce-item p{
    display: block;
    max-width: 236px;
    max-height: 28px;
    overflow: hidden;
    font-size: 1.6em;
    line-height: 2em;
    /*text-align: center*/}
.inproduce-item a:link,
.inproduce-item a:visited{
    color: #454445;
    text-decoration: none}
.inproduce-item a:hover{
    color: #f40;
    text-decoration: none}

.pplist-index{
    display: block;
    width: 340px;
    margin: 0 0 30px 60px;
    /*background: #f3f3f3;*/
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    -o-border-radius: 8px; 
    border-radius: 8px}
.pplist-index h3{
    display: block;
    font-weight: 500;
    font-weight: bold \9;
    font-size: 2em;
    line-height: 2.5em;
    color: #46625d;
    letter-spacing: 1px;
    background: #95eadc;
    padding-left: 22px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0}
.pplist-index ul,
#sub-menu ul{
    display: block;
    padding: 20px 25px 30px}
.pplist-index li a:link,
.pplist-index li a:visited,
#sub-menu li a:link,
#sub-menu li a:visited{
    font-size: 1.6em;
    line-height: 2.5em;
    color: #454445;
    text-decoration: none}
.pplist-index li a:hover,
#sub-menu li a:hover{
    color: #f40;
    text-decoration: none}
.fa-codepen{
    font-size: 1.8em;
    padding-right: 15px;
    color: #84cbbf}
.bg-01{
    background: #f3f3f3 url(../images/bg_ppitem-01.png) no-repeat;
    background-position: 180px 180px}
.bg-02{
    background: #f3f3f3 url(../images/bg_ppitem-02.png) no-repeat;
    background-position: 210px 120px}
.fb-page{ margin-left: 60px ; display: none \9}
.box_fbinfo{
    display: none;
    display: block \9;
    width: 340px;
    margin-left: 60px}
.box_fbinfo p{
    margin-top: 8px;
    font-size: 1.6em;
    line-height: 2em}
.box_fbinfo a:link {
    text-decoration:underline; 
    color:#00adee}
.box_fbinfo a:visited {
    text-decoration:underline; 
    color:#8c8c8c}
.box_fbinfo a:hover {
    text-decoration:none; 
    color:#F40}

/*頁尾*/
#foot-main h3,
.foot-item{ display: inline-block}
#foot-main h3{
    background: url(../images/logo-down.png) no-repeat; 
    width: 190px;
    height: 167px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.foot-item{ 
    vertical-align: top;
    margin-left: 95px}
.foot-item h4{
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.5em;
    color: #601986}
.foot-item li{
    font-size: 1.5em;
    line-height: 2em}
.foot-item a:link,
.foot-item a:visited{
    text-decoration: none;
    color: #171717}
.foot-item a:hover{
    text-decoration: underline;
    color: #601986}
/*#fitem-01{ margin-right: 80px}
#fitem-02{ margin-right: 80px}*/
#fitem-03 li{ display: inline-block; margin-right: 8px}
#fitem-03 a{ 
    vertical-align: top; 
    font-size: 2.5em;
    opacity: .6}
#fitem-03 a:hover{ opacity: 1; transition: .5s}

/*商品介紹*/
.banner-color-00{ background:#c4c4c4}
.banner-color-01{}
.banner-color-02{}
.banner-color-03{ color:#fff; background:#7ec1b6}
.banner-color-04{}
.banner-color-05{}
.banner-color-06{}
.banner-color-07{}
.banner-color-08{}
#sub-menu{
    display: block;
    width: 270px;
    background: #f3f3f3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px}
#sub-menu h4{
    display: block;
    font-size: 2em;
    line-height: 2.3em;
    letter-spacing: 1px;
    color: #46625d;
    background-color: #95eadc;
    padding-left: 25px}
#sub-menu h4:first-child{
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0}
#product-name{
    font-size: 2.5em;
    line-height: 1.5em;
    color: #601986}
#product-info{
    display: block;
    width: 100%;
    margin: 10px 0 30px;
    border-top: 2px solid #dcddde;
    border-bottom: 2px solid #dcddde}
#product-info li{
    display: inline-block;
    width: 31%;
    font-size: 1.5em;
    line-height: 2.3em;
    padding-left: 2%}
#page-main{
    display: block;
    width: 96%;
    padding: 0 2% 30px}
#page-main p{
    font-size: 1.6em;
    line-height: 2em}
#page-main img{
    display: block;
    width: 90%;
    height: auto;
    margin: 15px auto}
#page-main ul,
#page-main ol{
    display: block;
    width: 95%;
    margin: 15px auto}
#page-main ul li,
#page-main ol li{ 
    font-size: 1.6em;
    line-height: 2em;
    padding: 5px 0;
    border-bottom: 1px dashed #bebaba}
#page-main ul li{ list-style-type: disc}
#page-main ol li{ list-style-type: decimal}
#page-main a:link{
    color: #09967f;
    text-decoration: underline}
#page-main a:visited{
    color: #4a5856;
    text-decoration: underline}
#page-main a:hover{
    color: #f40;
    text-decoration: none}
#how-to-buy{}
#how-to-buy h3{
    font-size: 2.2em;
    line-height: 2em;
    color: #601986;
    border-bottom: 2px solid #dcddde}
#how-to-buy p{
    font-size: 1.6em;
    line-height: 1.8em;
    padding: 10px 0 20px}
#contact-list li a:link,
#contact-list li a:visited{
    display: block;
    float: left;
    width: 100px;
    margin-right: 15px;
    padding: 2px 12px;
    font-size: 1.6em;
    line-height: 2em;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #3ec7b1;    
    color: #fff;
    text-decoration: none}
#contact-list li a:hover{
    background: #2daf9a;    
    color: #fff;
    text-decoration: none}
#contact-list .btn_back{
    float: right}
#contact-list .btn_back a:link,
#contact-list .btn_back a:visited{
    background: white;
    color: #409082;
    border: 2px solid #84cbbf}
#contact-list .btn_back a:hover{
    background: #2daf9a;    
    color: #fff;
    text-decoration: none}

#products-list{
    display: block;
    width: 100%;
    padding: 0 0 30px}
#products-list li{
    display: inline-block;
    width: 31%;
    margin: 0 1% 40px;
    overflow: hidden;
    text-align: center;
    /*border-bottom: 1px solid #e1e1e1*/}
#products-list img{
    display: block;
    height: 196px;
    width: auto;
    margin: 0 auto;
    border: 1px solid #e4e3e4}
#products-list a>h5{
    display: block;
    width: 100%;
    height: 2em;
    overflow: hidden;
    font-size: 1.8em;
    line-height: 2em;
    color: #601986}
#products-list a:hover>h5{ color: #f40}
#products-list a:link{ text-decoration: none}


/*
=====================================
選單設定
=====================================
*/
#nav_main li a:link,
#nav_main li a:visited{
    display: block;
    float: left;
    width: 256px;
    font-size: 2em;
    font-weight: 400;
    line-height: 3em;
    text-align: center;
    color: rgb(59, 16, 82);
    text-decoration: none;
    list-style: none;
    transition: .5s}
#nav_main li a:hover{
    color: #fff;
    background: #662f56;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#trigger-overlay{ display: none}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m,
.mybtn-s{
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 2.4px;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 180px;
    padding: 15px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.mybtn-s{
    width: 90px;
    padding: 5px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}
.btn_more{ 
    float: right;
    line-height: .8em;
    border-color: #95eadc;
    color: #a599ac}
.btn_more:hover{ 
    background: #fddac7;
    color: #191919}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}

/*
=====================================
載入動畫
=====================================
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}
.fadeInUp,
.fadeInUp-01{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms}
.fadeInUp-01{
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}


.fadeInRight,
.fadeInRight-01{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 900ms;
    -moz-animation-duration: 900ms;
    animation-duration: 900ms}
.fadeInLeft-01{
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms} 


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    animation-duration: 1200ms}


/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: rgba(96, 25, 134, .5);
  border: 0px none #fff;
  border-radius: 60px}
::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 25, 134, 1)}
::-webkit-scrollbar-track {
  background: #ECECEC;
  border: 0px none #fff;
  border-radius: 0}
