@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
*
* @project    Bioevolve Technology Inc.
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201806-201807
*
**/

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#atindex,
#atpage,
footer,
footer .copyright{ min-width: 1000px}
#box_top,
#box_banner,
#box_banner-page,
#nav_main,
#my-container,
#foot-main{ width: 1000px}
#nav_main li a:link,
#nav_main li a:visited{ width: 200px}
#box_banner{ height: 323px}
#foot-main{ padding: 0}    
.foot-item{ margin-left: 75px}

#body-indexleft{ width: 600px}
#body-indexright{ width: 300px}
#body-content{
    width: 700px;
    margin-left: 20px;
    margin-right: 20px}
#body-aside{
    width: 230px;
    margin-left: 20px}
.index-news-list,
.index-newest-products{ 
    width: 590px;
    margin-right: 10px;
    margin-left: 0/*55px*/}
.index-news-list { margin-bottom: 50px}
.index-newest-products{ margin-bottom: 20px}
.inproduce-item{ 
    margin-right: 30px;
    margin-left: 25px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){margin-right: 30px}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 30px}
.pplist-index{
    width: 300px;
    margin: 0 0 30px 0/*60px*/}
.fb-page{ margin-left: 0}
.fb-comments, .fb-comments iframe[style] {
    width: 100% !important}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important}
.box_fbinfo{
    width: 300px;
    margin-left: 0}
.box_fbinfo img{
    width: 100%;
    height: auto}

#box_banner-page span{
    width: 680px;
    height: 259px;
    overflow: hidden}
#box_about-txt{ margin-bottom: 50px}    
#box_about-img img{
    width: 360px;
    height: auto}

#products-list{
    width: 650px;
    padding: 0 0 30px 50px}
#products-list li{
    width: 45%;
    margin: 0 2% 40px}
#list-name{ padding-left: 50px}
#list-info{
    width: 90%;
    margin-left: auto;
    margin-right: auto}
#list-info li:first-child{
    width: 90%}
#product-name,
#product-info,
#page-main,
#how-to-buy{ width: 90%; margin: 0 auto}
#contact-list li a:link,
#contact-list li a:visited{
    width: 95px;
    margin-right: 10px}
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box}
#atindex,
#atpage,
footer,
footer .copyright{ min-width: 750px}
#box_top,
#box_banner,
#box_banner-page,
#nav_main,
#my-container,
#foot-main{ width: 750px}
#nav_main li a:link,
#nav_main li a:visited{ width: 150px}
#box_banner{ height: 242px}
#foot-main h3{ display: none}
.foot-item{ margin-left: 45px}
    
#box_top h1 a{
    width: 400px;
    height: 130px;
    background-size: contain} 
#box_topright{
    right: 5px;
    width: 345px;
    text-align: right}    
#box_topright h4{ font-size: 1.6em}
.box-left,
.box-right { float: none}
.mybtn-s{
    width: 115px;
    padding: 5px 10px}     
#body-indexleft,
#body-indexright{
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-right: 20px}
#body-content{
    width: 700px;
    margin-left: 25px;
    margin-right: 25px}
#body-aside{ display: none}
#my-container .index-news{ width: 50%}    
.index-news-list,
.index-newest-products,
.pplist-index{ 
    width: 90%;
    margin-left: 45px}
.inproduce-item{
    width: 286px;
    margin-right: 27px;
    margin-left: 8px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){ margin-right: 27px}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 27px}
.inproduce-item span{ width: 286px; height: 198px}
.inproduce-item img{ height: 198px}
.inproduce-item p{ max-width: 286px}
.bg-01{
    background-position: right 180px}
.bg-02{
    background-position: right 120px}
.fb-comments, .fb-comments iframe[style] {
    width: 96% !important}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 96% !important}
.fb-page{ 
    margin-left: 45px; 
    margin-bottom: 50px}    
#box_banner-page h2{ width: 35%; font-size: 4em}
#box_banner-page span{ width: 65%}   
#box_about-img img{ width: 90%; height: auto}
#warranty-list a:link,
#warranty-list a:visited{ width: 130px}
#warranty-list a.lineid{ width: 180px}
    
#products-list{
    width: 100%;
    padding: 0 0 30px}
#products-list li{
    width: 45%;
    margin: 0 2% 40px}
#list-info li:first-child{
    width: 100%}
.btn_backlist{
    display: block;
    margin-bottom: 50px}    
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
#atindex,
#atpage,
footer,
footer .copyright{ min-width: 573px}
#box_top,
#box_banner,
#box_banner-page,
#nav_main,
#my-container,
#foot-main{ width: 573px}
#nav_main li a:link,
#nav_main li a:visited{ width: 114px}
#box_banner{ height: 184px}
footer{ height: 320px}
.foot-item{ margin-left: 10px; margin-right: 20px}
.foot-item:nth-child(2){ width: 40%}

#box_top h1 a{ 
    width: 170px;
    height: 130px;
    background-size: 400px 130px;
    overflow: hidden}
#box_topright{ right: 10px}
#body-indexleft,
#body-indexright{ width: 92%; padding-right: 0}
#body-content{ width: 95%; margin:0 auto}
 
.inproduce-item{
    width: 200px;
    margin-right: 20px;
    margin-left: 8px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){ margin-right: 20px}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 20px}
.inproduce-item span{ width: 200px; height: 138px}
.inproduce-item img{ height: 138px}
.inproduce-item p{ max-width: 200px}

#container-top h2{ 
    float: none; 
    width: 90%; 
    text-align: left}
#bar-cookie{ display: none}
#box_banner-page h2{ 
    width: 35%; 
    font-size: 3.5em;
    padding: 50px 30px 0 20px}
#box_banner-page span{ width: 65%} 
#box_about-txt{ padding-right: 15px}
#warranty-list a:link,
#warranty-list a:visited{
    display: block;
    margin: 0 auto 15px auto}
#box_error h3,
#box_error p{ line-height: 1.8em}

#products-list span{
    display: block;
    width: 100%;
    height: 179px;
    overflow: hidden}
#products-list img{
    display: block;
    height: 170px;
    width: auto;
    /*border: 1px solid #e4e3e4;*/
    margin: 0 auto}
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
#atindex,
#atpage,
footer,
footer .copyright{ min-width: 360px}
#box_top,
#box_banner,
#box_banner-page,
#nav_main,
#my-container,
#foot-main{ width: 360px}
#box_banner{ height: 121px}

#atindex{ background: none}
#box_top{ height: 150px}
#box_top h1 a{ 
    width: 250px;
    height: 81px;
    background-size: contain;
    overflow: hidden}
#box_topright{
    width: 100%;
    margin: 0 auto;
    top: 91px;
    right: 30px}
#box_topright h4{ display: none}
#nav_main{ display: none}
footer{ height: auto; padding-bottom: 10px}
.foot-item{
    display: block;
    width: 95%;
    margin: 0 auto 15px auto}
.foot-item:nth-child(2){ width: 95%}
.foot-item:nth-child(3),
.foot-item:nth-child(4){ 
    display: inline-block;
    width: 49%}
.foot-item:nth-child(3){ padding-left: 10px}
.foot-item:nth-child(4){ padding-left: 20px}

#trigger-overlay{ 
    display: block;
    position: absolute;
    top:18px;
    right: 10px;
    width: 46px;
    height: 46px;
    font-size: 2em;
    color: #fff;
    background: rgba(96, 25, 134, .7);
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#trigger-overlay:hover{
    background: rgba(96, 25, 134, 1);
    color: #fff;
    transition: .5s}
    
.index-news-list,
.index-newest-products,
.pplist-index,
.fb-page{ width: 95%; margin-left: 0}
.inproduce-item{
    width: 300px;
    margin-right: 17px;
    margin-left: 17px}
.inproduce-item span{ width: 300px; height: 207px}
.inproduce-item img{ height: 207px}
.inproduce-item p{ max-width: 300px}
.btn_more{ margin-right: 8px}
#toTop{ display: none}
 
#box_banner-page{ 
    position: relative}
#box_banner-page h2{
    position: absolute;
    top: 208px;
    left: 20px;
    z-index: 99;
    width: 90%;
    font-size: 3.5em;
    padding: 0}
#box_banner-page span{ 
    width: 100%;
    height: 200px}
#container-top h2{ width: 98%}
#body-full{ margin: -10px auto 0 auto}
#box_about-img,
#box_about-txt{
    float: none;
    width: 95%;
    margin: 0 auto}
#box_about-img{ 
    display: flex;
    height: 130px;
    margin-bottom: 15px}
#box_about-img img{    
    width: 48%;
    height: auto}
#box_banner-page h2.long-title{ font-size: 3em}
#box_privacy{ width: 95%; margin: 0 auto 40px auto}
#box_privacy h4{ 
    line-height: 1.7em; 
    margin-bottom: 20px}
    
#products-list li{
    width: 95%;
    margin: 0 2% 40px}
#list-name{ padding-left: 25px}
.list-sort a:nth-child(2),
.list-sort a:nth-child(3),
.list-sort a:nth-child(4){
    display: block;
    padding-left: 48px}
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/
#atindex,
#atpage,
footer,
footer .copyright{ min-width: 300px}
#box_top,
#box_banner,
#box_banner-page,
#nav_main,
#my-container,
#foot-main{ width: 300px}
#box_banner{ height: 97px}
footer .copyright{ font-size: 1.3em}
.foot-item{ width: 100%}
.foot-item:nth-child(2){ width: 100%}
.foot-item:nth-child(3){ 
    display: inline-block;
    width: 52%}
.foot-item:nth-child(4){ 
    display: inline-block;
    width: 40%;
    padding-left: 18px}
#box_top h1 a{
    top: 5px;
    width: 200px;
    height: 65px;
    background-size: contain;
    overflow: hidden}
#box_topright{
    top: 85px;
    right: 0}
#box_topright p{ display: none}
#ppsearch{ width: 240px}
#my-container h2{
    font-size: 2em;
    padding: 0 0 15px 53px}
.index-news-list td,
.news-list td{ padding: 15px 5px}
.news-data{ width: 10%}
.news-data span{ font-size: 1em}
.mybtn-xl,
.mybtn-l,
.mybtn-m,
.mybtn-s{ font-size: 1.3em; line-height: 15px}
.inproduce-item{ width: 245px}
.inproduce-item span{ width: 245px; height: 169px}
.inproduce-item img{ height: 169px}
.inproduce-item p{ max-width: 245px}
.foot-item:nth-child(2){ padding-left: 10px}

#box_banner-page h2{ 
    top:212px;
    font-size: 2.7em}
#box_about-img{ 
    display: flex;
    width: 90%;
    height: 100px;
    margin-bottom: 15px}
#box_banner-page h2.long-title{ font-size: 2.5em}
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), (min-resolution: 192dpi){
    .foot-logo,
    #top-menu h2 a{
        background: url(../images/logo-footer@3x.png) no-repeat;
        background-size: cover} 
    
}