@charset "utf-8";

/*
=====================================
overlay-menu 
=====================================
*/
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index: 9999;
	background: rgba(96,25,134, .9)}

/* Overlay closing cross */
.overlay .overlay-close{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 19px;
	top: 13px;
	overflow: hidden;
	border: none;
    background: none;
    font-size: 5em;
	/*text-indent: 200%;*/
	color: rgba(255, 255, 255, .8);
	outline: none;
	z-index: 100}
.overlay .overlay-close:hover{ 
    color: rgba(255, 255, 255, 1);
    cursor: pointer}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 80%;
	position: relative}

.overlay ul li {
	display: block;
	height: 15%;
	height: calc(100% / 5);
	min-height: 70px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden}

.overlay ul li a {
    font-family: "Noto Sans TC","Microsoft JhengHei","PingFangTC-Regular", Arial, Helvetica, sans-serif;
	font-size: 3.5em;
	font-weight: 500;
    letter-spacing: 2px;
	display: block;
	color: #fff;
    text-decoration: none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
    /*text-shadow: 0 0 10px #a0a0a0;*/
    padding-bottom: 10px}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s}

/*Hover Effects*/
.hvr-underline-from-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden}
    .hvr-underline-from-left:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: rgb(247, 49, 178);
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out}
    .hvr-underline-from-left:hover:before, 
    .hvr-underline-from-left:focus:before, 
    .hvr-underline-from-left:active:before {
        right: 0}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px}
	.overlay ul li {
		min-height: 34px}
}

/*彈跳廣告視窗#20200130*/
.adpopup-overlay{
    width:100%;
    height:100%;
    position:fixed;
    z-index:999990;
    top:0;
    left:0;
    background:#111}
.adpopup-overlay.adpopup-style-overlay-dark{
    background:#000;}
.adpopup{
    display: block;
    /*width:700px;
    height:400px; */
    position:fixed;
    z-index:999991;
    left:50%;
    top:25%;
    margin:0;
    padding:0;
    line-height:1.5em;
    font-size:16px;
    color:#000;
    font-family:sans-serif;
    background:#fff;
    border:1px solid #c6c6c6;
    border-radius:3px;-webkit-box-shadow:0 0 30px rgba(0,0,0,.32);box-shadow:0 0 30px rgba(0,0,0,.32);}
.adpopup img{
    display: block;
    width: 100%;
    height: auto}   
.adpopup.adpopup-style-bg-dark{background:#292929;border-color:#000;color:#eee;}
.adpopup.adpopup-style-bg-dark a{color:#eee;}
.adpopup.adpopup-style-bg-dark a:hover{color:#fff;}
.adpopup a.adpopup-close{width:20px !important;height:20px !important;display:block !important;position:absolute !important;z-index:999992 !important;top:-10px !important;right:-10px !important;cursor:pointer !important;text-decoration:none !important;margin:0 !important;padding:0 !important;border:none !important;}.adpopup.adpopup-style-close-dark a.adpopup-close{background:url(http://www.bti.com.tw/Content/images/close_black_normal.png) no-repeat;}
.adpopup.adpopup-style-close-dark a.adpopup-close:hover{background:url(http://www.bti.com.tw/Content/images/close_black_hover.png) no-repeat;}
.adpopup.adpopup-style-close-dark a.adpopup-close:active{background:url(http://www.bti.com.tw/Content/images/close_black_active.png) no-repeat;}