@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
*
* @project    Bioevolve Technology Inc.
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201806-201807
*
**/

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#atindex,
footer,
footer .copyright{ min-width: 1000px}
#box_top,
#box_banner,
#nav_main,
#my-container,
#foot-main{ width: 1000px}
#nav_main li a:link,
#nav_main li a:visited{ width: 200px}
#box_banner{ height: 323px}
#foot-main{ padding: 0}    
.foot-item{ margin-left: 75px}

#body-indexleft{ width: 600px}
#body-indexright{ width: 300px}
.index-news-list,
.index-newest-products{ 
    width: 590px;
    margin-right: 10px;
    margin-left: 0/*55px*/}
.index-news-list { margin-bottom: 50px}
.index-newest-products{ margin-bottom: 20px}
.inproduce-item{ 
    margin-right: 30px;
    margin-left: 25px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){margin-right: 30px}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 30px}
.pplist-index{
    width: 300px;
    margin: 0 0 30px 0/*60px*/}
.fb-page{ margin-left: 0}
.fb-comments, .fb-comments iframe[style] {
    width: 100% !important}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important}
.box_fbinfo{
    width: 300px;
    margin-left: 0}
.box_fbinfo img{
    width: 100%;
    height: auto}
    
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box}
#atindex,
footer,
footer .copyright{ min-width: 750px}
#box_top,
#box_banner,
#nav_main,
#my-container,
#foot-main{ width: 750px}
#nav_main li a:link,
#nav_main li a:visited{ width: 150px}
#box_banner{ height: 242px}
#foot-main h3{ display: none}
.foot-item{ margin-left: 45px}
    
#box_top h1 a{
    width: 400px;
    height: 130px;
    background-size: contain} 
#box_topright{
    right: 5px;
    width: 345px;
    text-align: right}    
#box_topright h4{ font-size: 1.6em}
.box-left,
.box-right { float: none}
.mybtn-s{
    width: 115px;
    padding: 5px 10px}     
#body-indexleft,
#body-indexright{
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px}
#my-container .index-news{ 
    width: 50%}    
.index-news-list,
.index-newest-products,
.pplist-index{ 
    width: 90%;
    margin-left: 45px}
.inproduce-item{
    width: 286px;
    margin-right: 27px;
    margin-left: 8px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){ margin-right: 27px}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 27px}
.inproduce-item span{ width: 286px; height: 198px}
.inproduce-item img{ height: 198px}
.inproduce-item p{ max-width: 286px}
.bg-01{
    background-position: right 180px}
.bg-02{
    background-position: right 120px}
.fb-comments, .fb-comments iframe[style] {
    width: 96% !important}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 96% !important}
.fb-page{ margin-left: 45px; margin-bottom: 50px}    
    
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
#atindex,
footer,
footer .copyright{ min-width: 573px}
#box_top,
#box_banner,
#nav_main,
#my-container,
#foot-main{ width: 573px}
#nav_main li a:link,
#nav_main li a:visited{ width: 114px}
#box_banner{ height: 184px}
footer{ height: 320px}
.foot-item{ margin-left: 10px; margin-right: 20px}
.foot-item:nth-child(2){ width: 40%}

#box_top h1 a{ 
    width: 170px;
    height: 130px;
    background-size: 400px 130px;
    overflow: hidden}
#box_topright{ right: 10px}
#body-indexleft,
#body-indexright{
    width: 92%;
    padding-right: 0}
 
.inproduce-item{
    width: 200px;
    margin-right: 20px;
    margin-left: 8px}
.inproduce-item:nth-child(3),
.inproduce-item:nth-child(6),
.inproduce-item:nth-child(9){ margin-right: 20px}
.inproduce-item:first-child+li+li,
.inproduce-item:first-child+li+li+li+li+li,
.inproduce-item:first-child+li+li+li+li+li+li+li+li{margin-right: 20px}
.inproduce-item span{ width: 200px; height: 138px}
.inproduce-item img{ height: 138px}
.inproduce-item p{ max-width: 200px}
    
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*373*/
#atindex,
footer,
footer .copyright{ min-width: 373px}
#box_top,
#box_banner,
#nav_main,
#my-container,
#foot-main{ width: 373px}
#box_banner{ height: 121px}

#atindex{ background: none}
#box_top{ height: 150px}
#box_top h1 a{ 
    width: 250px;
    height: 81px;
    background-size: contain;
    overflow: hidden}
#box_topright{
    width: 100%;
    margin: 0 auto;
    top: 91px;
    right: 30px}
#box_topright h4{ display: none}
#nav_main{ display: none}
footer{ height: auto; padding-bottom: 10px}
.foot-item{
    display: block;
    width: 95%;
    margin: 0 auto 15px auto}
.foot-item:nth-child(2){ width: 95%}
.foot-item:nth-child(3),
.foot-item:nth-child(4){ 
    display: inline-block;
    width: 49%}
.foot-item:nth-child(4){ padding-left: 35px}

#trigger-overlay{ 
    display: block;
    position: absolute;
    top:18px;
    right: 10px;
    width: 46px;
    height: 46px;
    font-size: 2em;
    color: #fff;
    background: rgba(96, 25, 134, .7);
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#trigger-overlay:hover{
    background: rgba(96, 25, 134, 1);
    color: #fff;
    transition: .5s}
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/
#atindex,
footer,
footer .copyright{ min-width: 300px}
#box_top,
#box_banner,
#nav_main,
#my-container,
#foot-main{ width: 300px}
#box_banner{ height: 97px}
footer .copyright{ font-size: 1.3em}
.foot-item{ width: 100%}
.foot-item:nth-child(2){ width: 100%}
.foot-item:nth-child(3){ 
    display: inline-block;
    width: 52%}
.foot-item:nth-child(4){ 
    display: inline-block;
    width: 40%;
    padding-left: 18px}
#box_top h1 a{
    top: 5px;
    width: 200px;
    height: 65px;
    background-size: contain;
    overflow: hidden}
#box_topright{
    top: 85px;
    right: 0}
#box_topright p{ display: none}
#ppsearch{ width:  240px}
    
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), (min-resolution: 192dpi){
    .foot-logo,
    #top-menu h2 a{
        background: url(../images/logo-footer@3x.png) no-repeat;
        background-size: cover} 
    
}