@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
*
* @project    Bioevolve Technology Inc.
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201806-201807
*
*=====================================
* 0. Reset重置
* 1. 通用設定
* 2. 全站結構
* 3. 頁面設定
*       3.1 首頁
*       3.2 頁尾
* 
* 
* 
* 4. 選單設定
* 5. 按鈕設定
* 9. animate
*10. overlay-menu
*11. 自訂scrollbar
*=====================================
**/


/*
=====================================
Reset重置
=====================================
*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	font-family: "Noto Sans TC","Microsoft JhengHei","PingFangTC-Regular", Arial, Helvetica, sans-serif;
	font-size: 1em; /* 1em=10px */
	color: #171717}
/*a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: #126db4; color: #fff}
::-moz-selection { background: #126db4; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*完美置底*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:270px}
.clearfix:after{content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
.clearfix {display: inline-block}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%}
.clearfix {display: block}
/* End hide from IE-mac */

/*
=====================================
全站結構
=====================================
*/
#wrap{ display: block;  width: 100%}
#atindex,
footer,
footer .copyright{
    display:block;
	width:100%;
    min-width: 1240px}
#atindex{
    background: url(../images/bg_header.png) repeat-x}
#box_top,
#box_banner,
#nav_main,
#my-container,
#foot-main{
    display: block;
    width: 1280px;
    margin: 0 auto}
#box_top{
    position: relative;
    height: 140px}
#nav_main{ 
    background: rgb(229, 230, 230);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#my-container{ min-height: 500px}
#foot-main{ padding: 20px}

footer{
	height: 270px;
	background: #edebeb;
	margin-top:-270px}
footer .copyright{
    background: #dcdada;
    text-align: center;
    font-size: 1.5em;
    line-height: 3em;
    color: #4a494a}

/*
=====================================
頁面設定
=====================================
*/
/*首頁*/
#box_top h3 a,
#box_topright{
    display: block;
    position: absolute}
#box_top h3 a{
    top: 0;
    left: 0;
    z-index: 99;
    width: 546px;
    height: 177px;
    background: url(../images/logo-site.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#box_topright{
    top: 38px;
    right: 10px;
    width: 345px}
#box_topright h4{
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #601986;
    padding-bottom: 20px}
#box_topright p{
    display: inline;
    font-size: 1.6em;
    padding-right: 8px}
#box_search{
    display: inline-block;
    background: #ececec;
    border: 1px solid #dcddde;
    padding: 8px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px}
#ppsearch{
    display: inline-block;
    border: none;
    background: transparent;
    font-family: 'xingothic-tc','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    vertical-align: middle}
#btn_sent{
    display: inline-block;
    width: 27px;
    height: 27px;
    border: none;
    background: url(../images/btn-search.png) no-repeat;
    /*background-size: contain;*/
    vertical-align: middle}
#btn_sent:hover{ 
    display: inline-block;
    width: 27px;
    height: 27px;
    border: none;
    background: url(../images/btn-search-hover.png) no-repeat;
    /*background-size: contain;*/
    vertical-align: middle;
    cursor: pointer}
#box_banner{
    height: 414px;
    background: #c4c4c4;
    overflow: hidden;
    margin-bottom: 4px}

/*頁尾*/
#foot-main h3,
.foot-item{ display: inline-block}
#foot-main h3{
    background: url(../images/logo-down.png) no-repeat; 
    width: 190px;
    height: 167px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.foot-item{ 
    vertical-align: top;
    margin-left: 95px}
.foot-item h4{
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.5em;
    color: #601986}
.foot-item li{
    font-size: 1.5em;
    line-height: 2em}
.foot-item a:link,
.foot-item a:visited{
    text-decoration: none;
    color: #171717}
.foot-item a:hover{
    text-decoration: underline;
    color: #601986}
/*#fitem-01{ margin-right: 80px}
#fitem-02{ margin-right: 80px}*/
#fitem-03 li{ display: inline-block; margin-right: 8px}
#fitem-03 a{ 
    vertical-align: top; 
    font-size: 2.5em;
    opacity: .6}
#fitem-03 a:hover{ opacity: 1; transition: .5s}



/*
=====================================
選單設定
=====================================
*/
#nav_main li a:link,
#nav_main li a:visited{
    display: block;
    float: left;
    width: 256px;
    font-size: 2em;
    font-weight: 400;
    line-height: 3em;
    text-align: center;
    color: rgb(59, 16, 82);
    text-decoration: none;
    transition: .5s}
#nav_main li a:hover{
    color: #fff;
    background: #662f56;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#trigger-overlay{ display: none}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 180px;
    padding: 15px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}


/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: rgba(96, 25, 134, .5);
  border: 0px none #fff;
  border-radius: 60px}
::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 25, 134, 1)}
::-webkit-scrollbar-track {
  background: #ECECEC;
  border: 0px none #fff;
  border-radius: 0}
